---
import { getCollection } from "astro:content";
import { Image } from 'astro:assets'
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import { YouTube } from '@astro-community/astro-embed-youtube';

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="Demo">
  <Container>
    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">
        <Fragment slot="title">How it works</Fragment>
      </h2>
      <p class="text-lg leading-relaxed text-gray-500">
        Think of Elliott as a helpful AI sidekick who's great with words. 
        He's good at writing original descriptions for your products, making sure your page is SEO-friendly, and even creating content for your collection landing pages. 
        Simply select one of your products to update and what type of product description you'd like. After a few seconds you'll have new copy ideas to work with.
      </p>
    </div>
    <div class="pt-6">
      <YouTube id="a-XwlDw4Ppo" playlabel="Play the video" class="rounded-md" />
      <style>
        lite-youtube {max-width:100%!important;}
      </style>
    </div>
  </Container>
</Layout>
