---
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";

---

<Layout title="Welcome">
  <Container>
    <div class="shadow-md -rotate-1 transition hover:-translate-y-1 hover:shadow-lg" style="max-width: 461px;border:1px solid #fafafa;border-radius: 10px; padding: 40px 40px; margin: 80px auto;">
        <p class="text-lg text-gray-800">
          Hello!<br/><br/>
          You know how time-consuming it is to constantly come up with unique product descriptions?
          <br/><br/>
          Elliott helps you write unique product descriptions, making 
          sure your product page is SEO-friendly, and driving more traffic and sales.
          <br/><br/>
          And the best part? You'll have more time to focus on strategy and growth. 
          <br/><br/> 
          
          <a href="https://apps.shopify.com/elliott" target="_blank" style="color:black;font-weight:500;text-decoration: underline;">Download Shopify App</a>
          <br/><br/>

          - Elliott
        </p>
      </div>
    </Container>
</Layout>
