---
import Container from "@components/container.astro";
import Cta from "@components/cta.astro";
import Features from "@components/features.astro";
import Hero from "@components/hero.astro";
import Logos from "@components/logos.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="AI Assistant for Shopify">
  <Container>
        <p class="text-lg leading-relaxed text-slate-500">
          Hello!<br/><br/>
          You know how time-consuming it is to constantly come up with unique product descriptions?<br/><br/>
          Well, Elliott's here to help. He's great at writing original descriptions for your products, making 
          sure your product page is SEO-friendly and even creating contenet for yoru collection landing pages.<br/><br/>
          And the best part? No more worrying about copied content that could harm your Google SEO rankings.
          <br/><br/>
          - Elliott
        </p>
    </Container>
</Layout>
