---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";

const pricing = [
  {
    name: "Free",
    price: "$0",
    shopifyplan: "100 credits per month",
    popular: false,
    features: [
      "All tools and features",
      "100 credits per month",
      "No hidden fees",
      "Chat & e-mail support",
    ],
    button: {
      text: "Get started",
      link: "https://apps.shopify.com/elliott",
    },
  },
  {
    name: "Unlimited",
    price: {
      monthly: "$10",
    },
    shopifyplan: "Perfect for growing stores",
    popular: true,
    features: [
      "All tools and features",
      "Unlimited products",
      "Unlimited usage",
      "Custom prompts",
      "No hidden fees",
      "Chat & e-mail support",
    ],
    button: {
      text: "Get started",
      link: "https://apps.shopify.com/elliott",
    },
  },
  {
    name: "Unlimited Plus",
    price: "$25",
    shopifyplan: "For Shopify Plus stores",
    popular: false,
    features: [
    "All tools and features",
      "Unlimited products",
      "Unlimited usage",
      "Custom prompts",
      "No hidden fees",
      "Dedicated support",
    ],
    button: {
      text: "Get started",
      link: "https://apps.shopify.com/elliott",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Pricing</Fragment>
      <Fragment slot="desc">
        Simple pricing. No Surprises.
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
</Layout>
