---
import { Image } from 'astro:assets'
import Shopify from "../assets/shopify.png";
---

<footer class="my-20">
  <br/> <br/> <br/>
  <p class="text-center text-sm text-gray-500">

    <a href="https://apps.shopify.com/elliott" target="_blank" style="margin:auto;width:150px;display:block;margin-top:10px;opacity:0.7">
      <Image src={Shopify} alt="Available on the Shopify app store" width={150} quality={'high'} style="filter: invert(1);" />
    </a>

     <br/>    
     <a href="https://www.standardretail.co" target="_blank">Shopify Analytics</a>
     <br/>
     Elliott © {new Date().getFullYear()}
  </p>
</footer>
